h1{
    text-align: center;
    color: red;
    -webkit-text-stroke:2px white;
    font-size: 70px;
}
body{
    font-family:cursive ;
    background-color: rgb(249, 152, 167);
}
img{
    width: 300px;
    height: auto;
    border: 5px solid red;
    box-shadow: 0 0 0 2px white;}
.fotos{
     display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

}
.texto{
    width: 300px;
    height: 250px;
    border: 4px solid red;
    border-radius: 2px solid red;
    outline: 3px solid white;
    margin: 0 auto;
   

}
.none{
    border: none;
    box-shadow: none;
    width: 200px;
    height: auto;
}
.linha{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 220px;
}
@media (max-width: 768px){

    .linha{
        flex-direction: column;
        margin-right: 0;
        text-align: center;
    }

    h1{
        font-size: 40px;
    }

    .imagem1,
    .imagem2{
        width: 90%;
        max-width: 350px;
        left: 0;
        display: block;
        margin: 20px auto;
    }

    .texto{
        width: 90%;
        height: auto;
    }

    .none{
        width: 150px;
    }

}